/* This section is for the designing of the login/register modal box */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}


.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog> div{
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #999999;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
	background: white; 
}
.form-signin {
  max-width: 530px;
  padding: 15px;
  margin: 10px ;
}
form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  
}
.form-signin input{
  margin-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  border-color: black;
}
/* Ends here */

html,
body {
  overflow-x: hidden;
}
body {
  padding-top: 70px;
  padding-bottom:70px;
}
footer {
  padding: 30px 0;
}

#header{
	padding-top: 10px;
	padding-left: 5px; 
	padding-right: 5px; 
	color:white; 
	font-size: 17px; 
	text-decoration: none;
}

#query{
	height: 50px;
	width: 100%;
	padding-left: 20px;
	border: 1.5px solid blue;
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px; 
	border-bottom-left-radius:10px; 
	border-bottom-right-radius:10px;
	color:black;
	background-color:white; 
}

#go{
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px; 
	border-bottom-left-radius:10px; 
	border-bottom-right-radius:10px;
	color:black;
	background-color:white;
}
#foot{
	color: white; 
	margin-bottom: -10px; 
	border-top: 2px solid blue; 
	font-size: 15px; 
	padding-top: 20px; 
	padding-bottom: 20px; 
	background-color:black;
}

.container{
	width: 90%;
	height: 80%;
}

/* Blocks */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
